@charset "UTF-8";

h3 {
	font-size: 18px;
	color: rgb(53, 54, 58);
}

#UserGauche{
	width: 500px;
	margin: 20px;
	height:200px
}

#UserDroite {
	width: 1000px;
	margin: 20px;
	display:flex;
	text-align:space-between;
	justify-content: space-evenly;
	align-content: center;
	border-top: 1px solid rgb(200,200,200);
	padding-top:20px;
	padding-bottom:20px;
	border-bottom: 1px solid rgb(200,200,200);
	background-color:rgb(240,240,240)
}